
.App{
    font-size: 14px;
    line-height: 1.42857143;
    font-family: Arial !important;
    background-image: url("/img/wrap-bg-body.png");
    background-repeat: repeat;
}

.wrapper{
    box-shadow: 1px 1px 5px rgba(0,0,0,.1);
    background:white;
}

.center{
    text-align: center;
}

a{
    padding-top:0 !important;
}

.logo img{
    width: 210px;
    height: 150px;
}


hr{
    color: #DDDDDD;
    border-style: solid;

}

.cart {
    text-align: right;
}

/*----CAROUSEL HERE*/
.ant-carousel .slick-slide {
    text-align: center;
    height: 550px;
    line-height: 160px;
    overflow: hidden;
}

.ant-carousel .slick-dots {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 15;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-pack: center;
    justify-content: center;
    margin-right: 0% !important;
    margin-left: 0% !important;
    padding-left: 0;
    list-style: none;
}
  

.ant-carousel img{
    width:100%;
    height:550px;
}

.category img{
    width:100%;
    height:400px;
}
/*FOOTER HERE*/
.footer{
    color:white;
    width:100%;
    height:400px;
    background-image: url("/img/bg_footer.png");
    background-size:cover;
    margin-left:0px !important;
    margin-right:0px !important;
    padding: 45px 15px 0 15px;
}


ul{
    padding-left:38px;
}

ul li{
    line-height: 35px;
    letter-spacing: 0.5px;
}

ul li a{
    text-decoration: none;
    color:white;
    
}

ul li a:hover{
    color:red;
}

.right{
    text-align: right;
}

.pdt12{
    padding-top:12px;
    padding-left:0px !important;
}
/*CAROUSEL FOR ITEMS*/
.ant-carousel .items .slick-slide {
    text-align: center;
    height: 350px;
    line-height: 160px;
    background: white;
    overflow: hidden;
    padding-left: 35px;
}



.ant-carousel .items img{
    width:100%;
    height:200px;
}
.ant-carousel .slick-slide h3:hover {
    color: #6FBE96;
}

.ant-carousel .slick-slide img{
    position: relative;
}

.wrapprice{
    width: 130px;
    height: 70px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom: 0;
    background: #56bc9a;
    box-sizing: border-box;
    opacity: 0.85;
    position: absolute;
    top: 132px;
    left: 62px;
    
}

.wrapprice span{
    color:white;
    position: relative;
    top: 30px;
    
}

.Gia{
    font-weight: bold;
    font-size: 30px;
    color:#FE5252;
}

.disableRow{
    color: gainsboro;
}


.half-circle {
    width: 130px;
    height: 70px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom: 0;
    background: #56bc9a;
    box-sizing: border-box;
}

.dangky,.dangnhap{
    height:400px;
}


.ant-back-top{
    right:40px;
}

.fs16{
    font-size:16px !important;
}

.thongtinsanpham{
    line-height: 60px;
}

.tensanpham{
    font-weight: bold;
}

.btnAddCart{
    text-transform: uppercase;
    letter-spacing: 1px;
    height: 50px !important;
}

.ant-carousel .sanphamlienquan .slick-slide {
    text-align: center;
    height: 350px;
    line-height: 160px;
    background: white;
    overflow: hidden;
    padding-left:35px;
}


.ant-carousel .sanphamlienquan img{
    width:100%;
    height:200px;
}

.anhctsp{
    width:100%;
    height:300px;
    border:solid 1px lightgray;
    border-radius: 10px;
    margin-bottom: 10px;
    position: relative;
}

.ant-carousel .carouselchitiet .slick-slide {
    height:280px;
}

.carouselchitiet img{
    width: 350px;
    height: 280px;
    margin:10px;
}

.prevAnh{
    position: absolute;
    top: 125px;
    left: 15px;
}

.nextAnh{
    position: absolute;
    top: 125px;
    right: 15px;
}


.wrapanhctsp{
    padding:10px;
}

.anhctspduoi{
    width:90px;
}

#components-layout-demo-side .logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
  }
  
.site-layout .site-layout-background {
    background: #fff;
}

/*CUSTOM MODAL ANTD*/
.ant-modal-header {
    text-align: center;
}

/*ADMIN CSS*/

.admin{
    background:lavender;
}

.hinh{
    width:110px;
}








